@{
    ViewBag.Title = "Account Details";
}

<form>
<<<<<<< HEAD
    <label>Email: </label>
    <input type="email" name="email" placeholder="Enter email here:" /><br /><br />
    <label>Password: </label>
    <input type="text" name="password" placeholder="Enter password here:" /><br /><br />
    <button type="submit">Login</button>
=======
    <label>Email: </label>
    <input type="email" name="email" placeholder="Enter email here:" /><br /><br />
    <label>Password: </label>
    <input type="text" name="password" placeholder="Enter password here:" /><br /><br />
    <button type="submit">Login</button>
>>>>>>> 6c6fb595adf731cf9be58b6ce71879742a6f4e27
</form>