@using FinalProject.Models.Messages;


@{
	ViewData["Title"] = "Message Center";
}

<h1>Welcome to message center</h1>

<ul>
	@foreach (Message message in ViewBag.Messages)
	{
		<li>
			<a asp-controller="Message" asp-action="Details" class="d-flex border rounded ">
				<h2>Message N°@message.NoteID</h2>
				<h3>From: @message.ReceiverID</h3>
				<h3>@message.CreationTime</h3>

			</a>
		</li>

	}
	



</ul>