
@using FinalProject.Models.Messages;


@{
	ViewData["Title"] = "Message Center";
}

<h1>Welcome to message center</h1>

<ul>
	@foreach(Message message in ViewBag.Messages)
	{
		<li>
			<div>
				<h2>Message N°@message.NoteID</h2>
				<h3>From: @message.ReceiverID</h3>
				<textarea>@message.Notification </textarea>
			</div>
			<span>@message.CreationTime</span>
		</li>
		
	}
	;

	
	
</ul>